@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #060A33;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --gap: 3rem;
}

* {

    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5;
    scroll-behavior: smooth;
}

body {
    font-family:'Montserrat', sans-serif;;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}
h1 h2 h3 h4 h5 h6 {
    font-family:'Montserrat Alternates', sans-serif; ;
}
h1 {
    font-size: 6rem; /*font teste*/
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3 {
    font-size: 5rem;
    
}
h4 {
    font-size: 4.5rem;
    
}
h5 {
    font-size: 4rem;
    
}
h6 {
    font-size: 3.5rem;
    
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 3rem;
}
.main-bg { /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    */
    background-image: url('../img/rose-petals.svg'); /*img test*/
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
}
.menu-spacing {
    height: 122px;
}
.white-bg {
    background: var(--white-color);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}
.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a {
    color: inherit;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}  
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    height: 100vh;

}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img img {
    max-width: 100%;
    height: auto;

}
.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.grid-one-content {
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;

}
.grid-main-heading h2 {
    margin-bottom: 1rem;
}
.grid-description {
    padding: 5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}
.list2 {
    color: red;
}